.title{
  background-color: black;
  text-align: left;
  font-size: 70px;
  width: 250px;
  height: 100px;
  text-align: center;
  display: inline-block;
  position: relative;
  margin: 0px;
  vertical-align: top;
  background-image: url(../img/logo.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: left;
}
